/*
 * @Author: Alter
 * @Date: 2020-07-24 18:33:07
 * @Last Modified by: Alter
 * @Last Modified time: 2020-09-04 04:46:32
 */
html, body
  margin 0
  padding 0
  width 100%
  height 100%

body
  background-image url('../images/beijing.jpg')
  background-size cover
  background-position center
  font 14px 'microsoft yahei'
  color '#4d4d4d'
  font-weight 300

.fade-enter-active, .fade-leave-active
  transition: opacity .5s
.fade-enter, .fade-leave-to
  opacity :0
